<p style="color: green"><%= notice %></p>

<table style="border: 1px solid black">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>No of Orders</th>
    <th colspan="3"></th>
  </tr>

  <%= render @customer %>
  </table>

<h1>Orders</h1>

<% if @customer.orders.any? %>
  <div id="orders">
    <% @customer.orders.each do |order| %>
      <table style="border: 1px solid black">
        <tr style="border: 1px solid black">
          <th>Product name</th>
          <th>Product count</th>
          <th>Customer name</th>
          <th colspan="3"></th>
        <tr>
          <td><%= order.product_name %></td>
          <td><%= order.product_count %></td>
          <td><%= order.customer.full_name %></td>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { turbo_confirm: "Are you sure?" } %></td>
        </tr>
      </table>

    <% end %>
  </div>  
<% else %>
  <p style="color: red ">This customer has no orders yet.</p>
<% end %>


<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>

  <%= button_to "Destroy this customer", @customer, method: :delete, data: {
    turbo_confirm: "Are you sure?"
  } %>
</div>
