

<h1>Orders</h1>

<div class="container-fluid row">
  <% @orders.each do |order| %>
    <div class="col-sm">
      <div class="card border border-2 border-success p-1 mt-3" style="width: 18rem;">
        <div class="card-header">
          <%= order.product_name %>
        </div>
        <div class="card-body">
          <p>Product Count: <%= order.product_count %></p>
          <p>Customer Name: <%= order.customer.full_name %></p>
        </div>
        <div class="card-footer d-flex gap-3">
          <%= link_to 'Show', order, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning' %>
          <%= button_to 'Delete', order, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

